streamlit
streamlit_folium
weasyprint
openai
azure-cognitiveservices-speech
pdfkit
fpdf
reportlab
pillow
folium
#pydub
#streamlit-webrtc
SpeechRecognition
#streamlit_audio_recorder
#pyaudio==0.2.13
#folium
tiktoken
gTTS==2.2.3
#soundfile
