streamlit
streamlit_folium
weasyprint
openai
azure-cognitiveservices-speech
pdfkit
fpdf
reportlab
pillow
folium
pydub
SpeechRecognition
#pyaudio
#folium
tiktoken
gTTS==2.2.3

git+https://github.com/stefanrmmr/streamlit_audio_recorder.git
